head
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title #{__('TITLE', community)}
  link(href="css/style.css", rel="stylesheet", type="text/css")
  link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")

  link(rel="icon" href="https://www.nyansa.com/wp-content/uploads/2016/03/cropped-nayansa-favicon-master-32x32.png" sizes="32x32")
  link(rel="icon" href="https://www.nyansa.com/wp-content/uploads/2016/03/cropped-nayansa-favicon-master-192x192.png" sizes="192x192")
  link(rel="apple-touch-icon-precomposed" href="https://www.nyansa.com/wp-content/uploads/2016/03/cropped-nayansa-favicon-master-180x180.png")
  meta(name="msapplication-TileImage" content="https://www.nyansa.com/wp-content/uploads/2016/03/cropped-nayansa-favicon-master-270x270.png")
