doctype html
html
  include includes/head
  body
    #wrapper
      .main
        include includes/header
        .content
          .information
            form(method="POST", action="invite")#join-form.form
              input(type="email", name="email", autofocus, placeholder="your@email.com")#slack-email.field
              if tokenRequired
                input(type="text", name="token", placeholder=__('ENTER_TOKEN'))#slack-token.field
              input(type="submit", value="Join").submit
              label Enter your email above to join our Voyers community on Slack!
              if !!recaptchaSiteKey
                div(class="g-recaptcha", data-sitekey=recaptchaSiteKey)
        include includes/footer
    include includes/scripts
