doctype html
html
  include includes/head.pug
  body
    #wrapper
      .main
        include includes/header
        .content
          if isFailed
            h2.error !{message}
          else
            h2  !{message}
            .information
              .shirt-container
                a(href="/images/t-shirt.jpg" target="_blank")
                  img(src="/images/t-shirt.jpg").shirt
              h2 How about a FREE Voyers shirt?
              form(method='POST' action='/shirt' style="margin-top:65px;").form
                input(type="hidden" name='email' value=email)
                div
                  input(placeholder='Enter your name' name='name' required).field
                div
                  input(placeholder='Enter your company name' name='company').field
                div
                  input(placeholder='Enter your phone #' name='phone').field
                div
                  textarea(placeholder='Enter your address (street, city, state, zip)' name='address' rows="4" style='resize:none;' required).field
                div
                  label(for="shirt-size") Size:
                  select(name="size" style="width:200px;margin-left:10px;")#shirt-size.field
                    option(value="S") Small
                    option(value="M") Medium
                    option(value="L") Large
                    option(value="XL") X-Large
                    option(value="XXL") XX-Large
                button(style="margin-top:20px;").field Submit
